*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center ;
    
}

.container{
    display: flex;
    justify-content: space-between;
    height: 500px;
    width: 800px;
}
.b{
    height: 120px;
    width: 120px;
    background-color: palevioletred;
    margin-top: 100px;
}

.box1:hover{
    transform: rotate(45deg);
}

.box2:hover{
    transform: scale(1.3);
}
.box3:hover{
   transform: translatey(-50px);
}
.box4:hover{
    transform: skew(20deg);
}