*{
    margin: 0;
    padding: 0;
}
#box{
    height: 100vh;
    width: 100vw;
}
.img{
    background-image: url(./ship.jpeg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.navbar{ 
    background-color: black;
    height: 6%;
    width: 90%;
    border-radius: 30px;
    position:sticky;
    top: 5px;
    left:5%;
}
p{  font-size: 90%;
    color: white;
    font-style: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 20%;
    left: 2%;
    right: 20;

}
a{
    color: white;
    margin-top: 20%;
    margin-left: 15%;
    text-decoration: none;
    position: relative;
    top: 20%;
    
}
.option{
    margin-left: 90%;
   position: relative;
   bottom: 20%;
}

h1{
    text-align: center;
    margin-top: 5%;
}

.para{
    color: black;
    position: relative;
    top: 3%;
    left: 37%;
}