*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.container{
    height: 80%;
    width: 80%;
    background-color: white;
    
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    
    gap:10px;
    padding:20px;
}
div{
    border: 2px solid gray;
    background-color: rgb(23, 133, 223);
    border-radius: 15px;
    box-shadow: -10px -10px 10px 10px black;
    
    /* offsetof x, offset of y, size of shadow ,opacity , colour ; */
} 
@media (min-width: 600px) and (max-width: 1200px){
     .container{
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr 1fr 1fr;
        background-color: red;
     }
}
.box1{
    background-image: url(./WhatsApp\ Image\ 2026-01-13\ at\ 4.18.20\ PM.jpeg);
    background-size: cover;
    background-position: center;
}
.box2{
    background-image: url(./amazon.jpeg);
    background-size: cover;
    background-position: center;
}
.box3{
    background-image: url(./image.png);
    background-size: cover;
    background-position: center;
}
.box4{
    background-image: url();
    background-size: cover;
    background-position: center;
}
.box5{
    background-image: url(./amazon.jpeg);
    background-size: cover;
    background-position: center;
}
.box6{
    background-image: url(./amazon.jpeg);
    background-size: cover;
    background-position: center;
}
.box7{
    background-image: url(./amazon.jpeg);
    background-size: cover;
    background-position: center;
}
.box8{
    background-image: url(./amazon.jpeg);
    background-size: cover;
    background-position: center;
}
.box9{
    background-image: url(./amazon.jpeg);
    background-size: cover;
    background-position: center;
}
.box10{
    background-image: url(./amazon.jpeg);
    background-size: cover;
    background-position: center;
}

