/* .box1{
    height: 400px;
    width: 400px;
    
    

}

.box2{
    height: 200px;
    width: 200px;
    border:2px solid black;

}

.box3{
    height: 100px;
    width: 100px;
    border:2px solid black;

}

div{
    bo
} */

div{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    height: 500px;
    width: 500px;
}

.box div{
    height: 70%;
    width: 70%;
}