.container{
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.top{
    height: 18%;
    display: flex;
    flex-direction: row;
}

.header{
  width: 30%;
  height: 100%;
  background-color: black;
}
.menu{
    width: 70%;;
    height: 100%;
    background-color: red;
}
.mid1{
     height: 45%;
     
}
.mid2{
     height: 30%;
     width: 100%;
     display: flex;
     flex-direction: colu;
}
.main{
    height: 100%;
    width: 50%;
    background-color: black;
}
.white,.img{
    height: 100%;
    width: 25%;
}

.img{
    display: flex;
    flex-direction: column;
}
.img1{
    height: 50%;
    width: 100%;
    background-color: aquamarine;
}
.img2{
    height: 50%;
    width: 100%;
background-color: rgb(2, 51, 45);
}


.bottom{
    height: 22%;
}
.mid1{
    background-color: blue;
}
.bottom{
    background-color: yellow;
}