/* .box{
    height: 100px;
    width: 100px;
    background-color: aqua;
    margin: 30px;
    
    position: absolute;
    animation-name: boxMoving;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}


@keyframes boxMoving {
    0%{
        top: 20px;
        left:20px
    }
    25%{
        top: 20px;
        left:1400px;
    }
    50%{
        left: 1400px;
        top: 600px;
    }
    75%{
        top:600px;
        left:10px;

    }

    100%{
        top:20%;
        left:20%;
    }
}
/* @keyframes boxMoving{
    from{
        top:10px;
        left:20px;
    }
    to{
         top:10px;
        left:1200px;
    }
} */
 /* h1{
    position: absolute;
    animation-name: mark;
    animation-timing-function: linear;
    animation-delay: 1s;
    
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
 }
 @keyframes mark {
from{
    top: 20px;
    right:20px;
}
to{
    top:20px;
    right:1200px;
}
 } */

 /* .screen{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

 } */

 body{
    background-color: black;
    height: 100vh;
    display: flex;
 }

.box{
     height: 40px;
     width:120px;
    border: 2px solid black;
    position: absolute;
    animation-name: mark;  
    animation-duration: 2s;
    animation-delay:2s ;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

 @keyframes mark{
    from{
        top:20px;
        right:20px
    }
    to{
        top:20px;
        right:1200px;
    }
 }