
.container{
    height: 800px;
    width: 1000px;
    border: 2px solid black;
    display: flex;

    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
    flex-wrap: nowrap;
}

.box{
    border: 2px solid black;
    height: 200px;
    weidth: 200px;
}

.flexItems{
    height: 200px;
    width: 200px;
    border: 2px solid;
}
.box3{
    order: 1;
}