*{
    margin: 0%;
    padding: 0%;
}

.container{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.text{
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   color: antiquewhite;
   
}
.button{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 400px;
    gap: 40px;
}
.box{
     /* display: flex;
    align-items: center;
    justify-content: space-around;  */
     
    height: 35px;
    width: 150px;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    
}

.scroll{
    position: absolute;
    top: 450px;
    font-size: 17px;
    color: aliceblue;
    animation: scr .5s linear 0s infinite alternate;
}
@keyframes scr {
    from{
      top:450px;
    }
    to{
      top: 470px;
    }
}
