* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* video background */
video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* center text */
.text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: antiquewhite;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* buttons */
.button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 40px;
}

/* button box */
.box {
    height: 35px;
    width: 150px;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    cursor: pointer;
}

/* scroll text */
.scroll {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 17px;
    color: aliceblue;
    animation: scr 0.5s linear infinite alternate;
}

@keyframes scr {
    from {
        bottom: 40px;
    }
    to {
        bottom: 20px;
    }
}