div{
    border: 2px solid black;
    
}
.container{
    background-color: white;
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap :10px ;
}

.header,.footer{
    height: 18%;
    width: 90%;
    background-color: aqua;
}

.content{
    height: 50%;
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
    border: 0;

}

.aside{
    height:100%;
    width:26%; 
    background-color: green;
}
.article{
    height:100%;
    width:66%;
    display: flex;
    background-color: orangered;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;

}
.img{
    height: 30%;
    width: 25%;
    background-color: orange;
    margin-bottom: 2%;
}

