/* text properties */
/* h1{
    color: purple;
    text-align: center;
    text-align: right;
    text-align: left;

    text-decoration: underline ;
    text-decoration: underline dashed;
    text-decoration: underline dotted;
    text-decoration: underline wavy;
    text-decoration: overline;
    text-decoration: none;
    letter-spacing: 1px;
    word-spacing: 100p
    /* line-height: 10px; */



    /* start shadow-top-blur-color */
    /* text-shadow: 7px 5px 10px black, 
                 7px 5px 10px blue,
                 7px 5px 10px  lightseagreen;
    

} */
     
/* font properties */
/* h1{ */
    /* font-size: 40px; */
    /* font-weight: 200; */
    /* font-style: italic; */
    /* font-style: oblique ;
    font-family: cursive;
    font-family: verdana,Geneva,Tahoma,sans-serif ;
    font-family: monospace;
}*/
div{color: black;

}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: yellow;
    text-shadow: 1px 1px 10px orange,
                 1px 1px 10px orange,
                 1px 1px 10px orange;
}

p{
    font-size: 30px;
    color: #f8f6f5;
    font-family: initial;
    text-shadow: 0px 0px 5px rgb(250, 93, 2);
}

.abc{
    font-size: 30px;
    color: rgb(245, 247, 243);
    text-shadow: 0px 0px 5px greenyellow,
                 0px 0px 5px greenyellow,
                 0px 0px 5px greenyellow;
}
